@charset "UTF-8";
body {
	background-color: lightgray;
    font-family: Arial, sans-serif;
    color: black;
}

h1 {
	text-align: center;
	text-decoration: underline;
	text-decoration: bold;
}

form {
	background-color: white;
	padding: 20px;
	margin: 50px auto;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-style: 1px solid #ccc;
	border: center;
}

.results {
	background-color: white;
	padding: 20px;
	margin: 50px auto;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-style: 1px solid #ccc;
	border: center;
}